<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS</title>
</head>
<body>
    <div id="app">
        <form action="" v-on:submit.prevent="submit">
            <h2>¿Cuales son tus cursos favoritos?</h2>
            <template v-for="curso in cursos">
                                <!-- escuchar evento dentro de componete -->
                                <!-- el valor es el metodo que se ejecuta en nuestro componente padre -->
                <curso v-bind:curso="curso" v-on:checked="selelectCurso"></curso>
                <!-- <input v-model="cursosSeleccionados" type="checkbox" v-bind:id="curso.value" v-bind:value="curso.value">
                <label v-bind:for="curso.value">{{ curso.nombre }}</label> -->
            </template> 
            <button type="submit">Enviar</button>
        </form>
    </div>
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        //creacion de componente 
        Vue.component('curso',{
            //propiedades que necesita el componente para dibujarse
            props:['curso'],
            methods:{
                onchange: function(ev){
                    //creacion del evento
                    //primer parametro nombre del evento
                    this.$emit('checked', this.curso.value, ev.target.checked);
                }
            },
            template: `
            <div>
                <input v-on:change="onchange" type="checkbox" v-bind:id="curso.value" v-bind:value="curso.value">
                <label v-bind:for="curso.value">{{ curso.nombre }}</label>
            </div>    
            `
        })


        const app = new Vue({
            el: '#app',
            data:{
                nombre: '',
                cursos: [
                    { nombre: 'Curso de Vue.js'
                    , value: 'vue' },
                    { nombre: 'Curso  de SEO'
                    , value: 'seo' },
                    { nombre: 'Curso de React.js'
                    , value: 'react' },
                    { nombre: 'Curso de Growth Marketing'
                    , value: 'growth' }

                ],
                cursosSeleccionados: []
            },
            filters:{
                upperCase: function(str){
                    return str.toUpperCase();
                }
            },
            methods:{
                submit: function(){
                    console.log(this.cursosSeleccionados);
                },
                selelectCurso: function(curso, checked){
                    if(checked){
                        this.cursosSeleccionados.push(curso);
                    }else{
                        //devolvernos el indice del array 
                        let index = this.cursosSeleccionados.indexOf(curso)
                        //apartir del indice del array se quite 1
                        this.cursosSeleccionados.splice(index, 1)
                    }
                }
            }
        });
    </script>
</body>
</html>